html, body {
    font-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Manrope";
    background-color: #151022;
    color: #fafafa;
}

h1 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

h1.header{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

h2 {
    font-size: 20px;
    line-height: 30px;
}

li {
    list-style: none;
}

.to-do-section {
    margin-top: 60px;
}

.task-field {
    display: flex;
    align-items: center;
    background-color: #2f2248;
    border-radius: 24px;
    margin-top: 48px;
    padding-right: 0;
}

.input-field {
    width: 100%;
    border: 0;
    padding: 8px 24px;
    font-family: "Manrope";
    font-size: 18px;
    line-height: 22px;
    background-color: #2f2248;
    color: #a38fcc;
    border-radius: 40px;
}

.input-field::placeholder {
    color: #a38fcc;
    font-weight: 500;
}

.input-field:focus {
    outline: none;
}

.task-field button {
    padding: 12px 90px;
    border: 0;
    border-radius: 28px;
    font-family: "Manrope";
    background-color: #6929f5;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.to-do-information {
    margin-top: 40px;
}

.task-container {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid #a38fcc;
    padding-bottom: 16px;
}

.to-do-information_counter {
    margin: 0;
    padding: 0;
}

.task {
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
}

.icon-background {
    background-color: #2e214a;
    padding: 8px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
}

input[type = "checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type = "checkbox"]:checked {
    background-color: #6e52ac;
    border-color: #fff;
}


.todo-status {
    font-family: "Manrope";
    font-size: 16px;
    color: #8e6ada;
    
}

.active-link {
    color: #cabbed;
}

ul.todo-nav {
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    cursor: pointer;
}

ul.todo-nav li {
  margin-right: 32px; /* Add some spacing between items */
}

.no-task-message {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #a38fcc;
    margin-top: 32px;
    padding-bottom: 26px;
}

.login-container {
    padding: 40px 100px;
    border-radius: 10px;
}

.action-button {
    background-color: #6929f5;
    color: #fff;

}

.action-button:hover {
    background-color: rgb(134, 80, 251);
}

.password-reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.btn-logout {
    background-color: #32274b;
    color: #fff;
}

.btn-logout:hover{
    background-color: #624d93;
    color: #fff;
}
